* {
    box-sizing: border-box;
    color: #37352F;
}

.app {
    background-color: #DFEEF0;
    padding: 12px;
}

.content {
    width: 80%;
}

h1, h2 {
    color: #6A8D8F;
    font-weight: bolder;
}

h1 {
    font-size: 34px;
}

.infomations {
    border-bottom: 4px dashed #6A8D8F;
    padding-bottom: 20px;
}

.avatar {
    border-radius: 50%;
}

.title {
    font-weight: bolder;
    font-size: 24px;
    color: #6A8D8F;
}

.details {
    border-bottom: 4px dashed #6A8D8F;
}

.contact {
    margin-top: 20px;
}

.star-box {
    position: relative;
}

.star-container {
    position: absolute;
    top: -17%;
    display: inline-block;
    padding-left: 12px;
    list-style: none;
}

.star-container li {
    display: inline-block;
}

.star-container-snd {
    position: absolute;
    top: 45%;
    display: inline-block;
    padding-left: 18px;
    list-style: none;
}

.star-container-snd li {
    display: inline-block;
}
